<!--<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">-->
<section class="hero is-fullheight has-text-left has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifths-desktop is-one-fifths-tablet is-one-fifths-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div style="line-height:210%; ">
                        <br>


                        <p style="font-size:140%; line-height:200%;"><strong>학력</strong></p>
                            <strong>> 2023. 02.</strong> 사이버보안학과 졸업예정 - 학사<br>
                            <strong>> 2022. 02.</strong> 사이버보안과 졸업 - 전문학사<br>

                            <br><br>
                        
                        
                        
                        <p style="font-size:140%; line-height:200%;"><strong>자격증</strong></p>
                            <strong>> 2021. 10.</strong> ISO/IEC27001 내부심사원<br>
                            <strong>> 2021. 06.</strong> 정보보안 산업기사<br>
                            <strong>> 2014. 07.</strong> 컴퓨터활용능력 2급<br>
                            <strong>> 2014. 06.</strong> 정보기술자격 A급<br>

                            <br><br>


                        <p style="font-size:140%; line-height:200%;"><strong>수료</strong></p>
                            <strong>> 2022. 04.</strong> ISMS-P 제도이해/구축운영<br>
                            <strong>> 2021. 09.</strong> 웹 취약점 분석 및 모의해킹 <br>
                            <strong>> 2021. 08.</strong> 23회 해킹캠프<br>
                            <strong>> 2021. 07.</strong> ICS & OT 산업제어시스템 보안 및 대응방안<br>
                            <strong>> 2021. 06.</strong> 정보보호제품군 실습훈련(중급)<br>
                            <strong>> 2021. 06.</strong> 정보보호제품군 실습훈련(초급)<br>
                            <strong>> 2020. 08.</strong> 미래신산업 수요특화형(IoT)교육 <br>
                            <strong>> 2020. 07.</strong> 창의융합통섭형 학생역량강화캠프 <br>
                            <strong>> 2020. 07.</strong> 시큐어코딩(개발 보안) <br>
                        
                            <br><br>


                        
                        <p style="font-size:140%; line-height:200%;"><strong>기술</strong></p>
                            <strong>> Interest - </strong>Web/app Security, Security Consulting, Cloud<br>
                            <strong>> HIGH </strong><br>
                            <strong>> MID - </strong>Web_hacking, C, Python, Linux<br>
                            <strong>> LOW - </strong>Scripts(bash script/batch script/powershell script),
                        <br>　　　<strong>- </strong>DB(mysql/mongodb), Network(ASA/paloalto/sniper IPS), 
                        <br>　　　<strong>- </strong>Front(bootstrap/html/css), ML(Pandas/scikit learn),
                        <br>　　　<strong>- </strong>docker, reversing, jupyter, Git
                        
                        
                        <!--
                        <p style="font-size:140%; line-height:200%;"><strong>기술 및 관심분야</strong></p>
                            <strong>Hacking</strong>
                            > Web hacking, Reversing, OSINT

                            <strong>Programming Language</strong>
                            > Coding : Python, C, PHP, JAVA(Android)
                            > Scripts : Power Shell, Bash Script, Batch Script
                            > Bootstrap : HTML, CSS

                            <strong>System & Network</strong>
                            > Linux, Windows Server
                            > MySQL, MongoDB
                            > Packet Tracer, GNS3
                            > Wireshark
                            > Security Solutions : ASA, paloalto, sniper IPS

                            <strong>Etc..</strong>
                            > ML(jupyter/Pandas/Scikit_learn)
                            > Docker-->


                            <br><br><br>

                        <p style="font-size:140%; line-height:200%;"><strong>교내 활동</strong></p>
                            <strong>> 2022. 03. ~</strong> 사이버보안센터 위협분석파트장 역임<br>
                            <strong>> 2021. 10.</strong> Y.CTF 및 Hacking Championship 예선전 문제 출제<br>
                            <strong>> 2021. 06.</strong> 교내 보안세미나 발표 - Block Chain<br>
                            <strong>> 2021. 01 ~ 12.</strong> 학과 학회장 역임<br>
                            <strong>> 2021. 10 ~ 12.</strong> <a href="https://www.youtube.com/channel/UCZUQFzoq74hUIsqrZc9u1Zg">싸보 YouTube 기획 및 출연 Click!</a><br>
                            <strong>> 2020. 07.</strong> YESS 내부 세미나 발표 - Reversing<br>
                            <strong>> 2020. 03.</strong> YESS  - Reversing<br>

                            <br><br>


                        <p style="font-size:140%; line-height:200%;"><strong>교내 수상</strong></p>
                            <strong>> 2021. 12.</strong> 2021 Capstone Design 1위<br>
                            <strong>> 2021. 11.</strong> 창의적 종합설계 경진대회 - 총장 동상<br>
                            <strong>> 2021. 10.</strong> 2021 YNC 창업경진대회 - 창업지원단장 장려상<br>
                            <strong>> 2020. 12.</strong> Y-log 챌린지 - 우수상<br>
                            <strong>> 2020. 12.</strong> 창의 아이디어 경진대회 - 센터장 입상<br>
                            <strong>> 2020. 10.</strong> Y.CTF - 총장 최우수상<br>
                            <strong>> 2019. 11.</strong> Y.CTF - 장려상 <br>



                            <br><br>

                        <p style="font-size:140%; line-height:200%;"><strong>대외 활동</strong></p>
                            <strong>> 2021. 11.</strong> 대구경북 사이버보안 컨퍼런스(DGSEC) 발표 - 파워쉘 악성 스크립트 탐지<br>
                            <strong>> 2021. 08.</strong> 23회 해킹캠프 CTF 3위<br>
                            <strong>> 2021. 07.</strong> 제2회 KOSPO 웹서비스 정보보안 경진대회 참가<br>
                            <strong>> 2020. 12.</strong> 2020 공학 페스티벌 공대생 심사위원단<br>

                            <br><br>

                        <p style="font-size:140%; line-height:200%;"><strong>대외 수상</strong></p>
                            <strong>> 2020. 07.</strong> 창의융합통섭형 학생역량강화 캠프 - 공학기술교육혁신선도센터장 은상<br>
                            <strong>> 2019. 10.</strong> 한국전력공사 주최 ENERGY x SECURITY HACKATHON - 한국인터넷진흥원장 장려상<br>
                            <strong>> 2016. 12.</strong> 16년 12정보통신단 감사나눔페스티벌 1등 - 중령급 개인상장<br>
                        
                    
                        <br>
                    </div>
                    
                        
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined"><strong>▶Project◀</strong></a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/news"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">▷To clip News articles◁</a>
                        </div>

                        <!--<div>
                            <a href="{{site.url}}{{site.baseurl}}/news"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">SECURITY NEWS</a>
                            </a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
</section>
