<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="site-layout-background" style="padding: 24px; min-height: 360px;">
        <div class="ant-row ant-row-center" style="margin-top: 150px; row-gap: 0px;"><h1 class="ant-typography">활동 및 수상</h1>
            <div class="ant-row ant-row-space-between" style="width: 100%; margin-top: 50px; row-gap: 0px;">
                <div class="ant-col ant-col-7">
                    <div class="ant-card ant-card-bordered" style="width: 300px; box-shadow: rgba(114, 46, 209, 0.2) 2px 2px 20px 1px;">
                        <div class="ant-card-head">
                            <div class="ant-card-head-wrapper">
                                <div class="ant-card-head-title"> 교내 활동</div>
                            </div>
                        </div>
                        <div class="ant-card-body"> > 2022. 03. 사이버보안센터 위협분석파트장 역임<br> > 2021. 10. Y.CTF 및 Hacking Championship 예선전 문제 출제<br> > 2021. 06. 교내 보안세미나 발표 - Block Chain<br> > 2021. 01. 학과 학회장 역임<br> > 2020. 07. YESS 내부 세미나 발표 - Reversing<br></div>
                    </div>
                </div>
                <div class="ant-col ant-col-7">
                    <div class="ant-card ant-card-bordered" style="width: 300px; box-shadow: rgba(114, 46, 209, 0.2) 2px 2px 20px 1px;">
                        <div class="ant-card-head">
                            <div class="ant-card-head-wrapper">
                                <div class="ant-card-head-title">Etc</div>
                            </div>
                        </div>
                        <div class="ant-card-body">Linux <br>Socket.io <br>AWS <br>Git <br>Github</div>
                    </div>
                </div>
            </div>
            <div class="ant-row ant-row-space-between" style="width: 100%; margin-top: 50px; row-gap: 0px;">
                <div class="ant-col ant-col-7">
                    <div class="ant-card ant-card-bordered" style="width: 250px; box-shadow: rgba(114, 46, 209, 0.2) 2px 2px 20px 1px;">
                        <div class="ant-card-head">
                            <div class="ant-card-head-wrapper">
                                <div class="ant-card-head-title">BackEnd</div>
                            </div>
                        </div>
                        <div class="ant-card-body">Express <br>MySQL (sequelize)</div>
                    </div>
                </div>
                <div class="ant-col ant-col-7">
                    <div class="ant-card ant-card-bordered" style="width: 250px; box-shadow: rgba(114, 46, 209, 0.2) 2px 2px 20px 1px;">
                        <div class="ant-card-head">
                            <div class="ant-card-head-wrapper">
                                <div class="ant-card-head-title">Etc</div>
                            </div>
                        </div>
                        <div class="ant-card-body">Linux <br>Socket.io <br>AWS <br>Git <br>Github</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="hero-body">
        <div class="container">
            {% unless site.facebook_username == %}
            <a id="contact-button" href="https://m.me/{{site.facebook_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-facebook-messenger"></i>Ping me on Messenger
            </a>
            {% endunless %}
            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            {% endunless %}
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>
            {% endunless %}
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="https://t.me/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-telegram"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="mailto:aced@kakao.com" target="_blank" class="has-text-black"><i class="fab fa-envelope"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="https://t.me/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-telegram"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
