<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <p style="font-size:130%; "><strong>교내 활동</strong></p>
            > 2022. 03. 사이버보안센터 위협분석파트장 역임<br>
            > 2021. 10. Y.CTF 및 Hacking Championship 예선전 문제 출제<br>
            > 2021. 06. 교내 보안세미나 발표 - Block Chain<br>
            > 2021. 01. 학과 학회장 역임<br>
            > 2020. 07. YESS 내부 세미나 발표 - Reversing<br>

            <br>


            <p style="font-size:130%; "><strong>교내 수상</strong></p>
            > 2021. 12. 2021 Capstone Design 1위<br>
            > 2021. 11. 창의적 종합설계 경진대회 - 총장 동상<br>
            > 2021. 10. 2021 YNC 창업경진대회 - 창업지원단장 장려상<br>
            > 2020. 12. Y-log 챌린지 - 우수상<br>
            > 2020. 12. 창의 아이디어 경진대회 - 센터장 입상<br>
            > 2020. 10. Y.CTF 총장 최우수상<br>
            > 2019. 11. Y.CTF 장려상 <br>



            <br>

            <p style="font-size:130%; "><strong>대외 활동</strong></p>
            > 2021. 11. 대구경북 사이버보안 컨퍼런스(DGSEC) 발표 - 파워쉘 악성 스크립트 탐지<br>
            > 2021. 08. 23회 해킹캠프 CTF 3위<br>
            > 2021. 07. 제2회 KOSPO 웹서비스 정보보안 경진대회 참가<br>
            > 2020. 12. 2020 공학 페스티벌 공대생 심사위원단<br>

            <br>

            <p style="font-size:130%; "><strong>대외 수상</strong></p>
            > 2019. 10. 한국전력공사 에너지X해커톤 - 한국인터넷진흥원장 장려상<br>
            > 2016. 12. 16년 12정보통신단 감사나눔페스티벌 1등 - 중령급 개인상장<br>
        
        <div class="container">
            {% unless site.facebook_username == %}
            <a id="contact-button" href="https://m.me/{{site.facebook_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-facebook-messenger"></i>Ping me on Messenger
            </a>
            {% endunless %}
            {% unless site.email == %}
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            {% endunless %}
            {% unless site.twitter_username == %}
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>
            {% endunless %}
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="https://t.me/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-telegram"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="mailto:aced@kakao.com" target="_blank" class="has-text-black"><i class="fab fa-envelope"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="https://t.me/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-telegram"></i></a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
